absl-py==1.3.0; python_version >= "3.7"
astunparse==1.6.3; python_version >= "3.7"
cachetools==5.2.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
certifi==2022.9.24; python_version >= "3.7" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.7" and python_version < "4" and python_full_version >= "3.6.0"
chess==1.9.3; python_version >= "3.7"
colorama==0.4.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.7.0")
contourpy==1.0.6; python_version >= "3.8"
cycler==0.11.0; python_version >= "3.8"
flatbuffers==22.10.26; python_version >= "3.7"
fonttools==4.38.0; python_version >= "3.8"
gast==0.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
google-auth-oauthlib==0.4.6; python_version >= "3.7"
google-auth==2.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
google-pasta==0.2.0; python_version >= "3.7"
grpcio==1.50.0; python_version >= "3.7"
h5py==3.7.0; python_version >= "3.7"
idna==3.4; python_version >= "3.7" and python_version < "4"
importlib-metadata==5.0.0; python_version < "3.10" and python_version >= "3.7"
keras-preprocessing==1.1.2; python_version >= "3.7"
keras==2.10.0; python_version >= "3.7"
kiwisolver==1.4.4; python_version >= "3.8"
libclang==14.0.6; python_version >= "3.7"
markdown==3.4.1; python_version >= "3.7"
markupsafe==2.1.1; python_version >= "3.7"
matplotlib==3.6.2; python_version >= "3.8"
numpy==1.23.4; python_version >= "3.8"
oauthlib==3.2.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
opt-einsum==3.3.0; python_version >= "3.7"
packaging==21.3; python_version >= "3.8"
pillow==9.3.0; python_version >= "3.8"
protobuf==3.19.6; python_version >= "3.7"
pyasn1-modules==0.2.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
pyasn1==0.4.8; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7") or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
requests-oauthlib==1.3.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests==2.28.1; python_version >= "3.7" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
rsa==4.9; python_version >= "3.6" and python_version < "4" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7")
setuptools-scm==7.0.5; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.8"
tensorboard-data-server==0.6.1; python_version >= "3.7"
tensorboard-plugin-wit==1.8.1; python_version >= "3.7"
tensorboard==2.10.1; python_version >= "3.7"
tensorflow-estimator==2.10.0; python_version >= "3.7"
tensorflow-io-gcs-filesystem==0.27.0; python_version >= "3.7" and python_version < "3.11"
tensorflow==2.10.0; python_version >= "3.7"
termcolor==2.1.0; python_version >= "3.7"
tomli==2.0.1; python_version >= "3.8"
typing-extensions==4.4.0; python_version >= "3.8"
urllib3==1.26.12; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
werkzeug==2.2.2; python_version >= "3.7"
wrapt==1.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
zipp==3.10.0; python_version < "3.10" and python_version >= "3.7"
